<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<p> Nous somme le {{'now'| date("d/m/y")}}</p>
<h1>hello {{ nom|capitalize}} {{  prenom|capitalize}} </h1>
    
</body>
</html>