{% extends "template.html.twig" %}

{% block body %}
    
{% block pageTitle %}

Mes utilisateurs
    
{% endblock %}
<h1> With love {{ name}} {{lastName}}</h1>
<p>Bonjour Rostand SF6</p>

Mon url absolue est : {{url('first')}}

{% endblock %}
    
