{% extends "template.html.twig" %}

{% block body %}
    



    
{% block pageTitle %}
liste DES TODOS:

 {% endblock %}
    



<ol class="list-group-item">
{% for name,content in app.session.get('todos') %}

<li class="list-group-item">
{{name}}:{{content}}
</li>
{% endfor %}
</ol>
{% endblock %}

{% block titre %}
Ma liste Todo
    
{% endblock %}

    
