 {% extends "heritage.html.twig" %}

   {% block  titreDuDocument %}

   c'est mon application symfony
    
 {% endblock %}


   



 {% block corpDuDocument %}
 {{ parent() }}

 <ol>
 <li> le nouveau contenu</li>
 <li> le nouveau contenu</li>

    
 {% endblock %}